#animals-for-kidstv {
    --black-color: #000326;
    --white-color: #ffffff;
    --accent-color: #0F59D4;    
    --bg-color: #F5F5F5;
    --trans-dur: 250ms;
    --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black-color);
    letter-spacing: 0.005em;

    @media (max-width: 375px) {
        line-height: 1.2;
    }

    @media (min-width: 1240px) {
        font-size: 24px;
    }

    @media (min-width: 1680px) {
        font-size: 32px;
    }


    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul,
    ol {
        padding-left: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    section {
        margin: 0 auto;
        padding: 18px 0 36px 0;

        @media (min-width: 375px) {
            padding: 36px 0 56px 0;
        }

        @media (min-width: 660px) {
            padding: 70px 0 104px 0;
        }

        @media (min-width: 1240px) {
            padding: 104px 0 148px 0;
        }

        @media (min-width: 1680px) {
            padding: 148px 0 178px 0;
        }
    }

    .section-border {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style: none;
    }

    .container {
        max-width: 100%;
        padding: 0 18px;

        @media (min-width: 375px) {
            padding: 0 36px;
        }

        @media (min-width: 660px) {
            padding: 0 70px;
        }

        @media (min-width: 1240px) {
            padding: 0 104px;
        }

        @media (min-width: 1680px) {
            padding: 0 148px;
        }

    }

    .text-align {
        text-align: left;

        @media (min-width: 760px) {
            text-align: center;
        }
    }

    .section-title {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        text-transform: uppercase;

        @media (min-width: 760px) {
            font-size: 36px;
        }

        @media (min-width: 1240px) {
            font-size: 54px;
        }

        @media (min-width: 1680px) {
            font-size: 72px;
        }
    }

    .accent-color {
        color: var(--accent-color);
    }

    .section-subtitle {
        font-weight: 700;
    }

    .margin-bottom {
        margin-bottom: 26px;

        @media (min-width: 660px) {
            margin-bottom: 36px;
        }

        @media (min-width: 1680px) {
            margin-bottom: 48px;
        }
    }

    .text-uppercase {
        text-transform: uppercase;
    }

    /* image-list */

    .image-list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (min-width: 460px) {
            gap: 40px;
        }

        @media (min-width: 760px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 26px;
        }

        @media (min-width: 1240px) {
            gap: 39px;
        }

        @media (min-width: 1680px) {
            gap: 52px;
        }

        .image-list-item{
            position: relative;

            @media (min-width: 760px) {
                flex: 1 1 calc(50% - 13px);
            }

            @media (min-width: 1240px) {
                flex: 1 1 calc(50% - 20px);
            }

            @media (min-width: 1680px) {
                flex: 1 1 calc(50% - 26px);
            }

            .image-title {
                font-size: 22px;
                font-weight: 900;
                line-height: 1.2;
                text-transform: uppercase;
        
                @media (min-width: 460px) {            
                        font-size: 32px;
                    }

                @media (min-width: 760px) {            
                        font-size: 26px;
                    }

                @media (min-width: 1240px) {            
                        font-size: 39px;
                    }

                @media (min-width: 1440px) {            
                        font-size: 52px;
                    }
            }
        }
    }

    /* hero */

    .animals-hero {
        height: 800px;
        background-image: url('../img/hero-bg-mob.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

        @media (min-width: 460px) {
            background-image: url('../img/hero-bg-tab.png');
        }
        @media (min-width: 860px) {            
            height: 600px;
        }

        @media (min-width: 1240px) {
            background-image: url('../img/hero-bg-web.png');
            height: 900px;
        }

        @media (min-width: 1680px) {
            background-image: url('../img/hero-bg-desk.png');
            height: 1200px;
        }

        .hero-logo-wrap {
            width: 86px;
            margin-bottom: 20px;

            @media (min-width:1240px) {            
                width: 130px;
                margin-bottom: 32px;
            }

            @media (min-width: 1680px) {
                width: 178px;
                margin-bottom: 42px;
            }
        }

        .hero-title {
            font-size: 56px;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 32px;

            @media (min-width: 1240px) {            
                font-size: 85px;
                margin-bottom: 48px;
            }

            @media (min-width: 1680px) {
                font-size: 112px;
                margin-bottom: 64px;
            }
        }

        .hero-main-text {
            font-weight: 300;
            font-size: 27px;
            line-height: 1;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 24px;

            @media (min-width: 760px) {            
                font-size: 30px;                
            }

            @media (min-width: 1240px) {            
                font-size: 45px;
                margin-bottom: 36px;
            }

            @media (min-width: 1680px) {            
                font-size: 63px;
                margin-bottom: 64px;
            }
        }

        .hero-img-wrap {
            max-width: 300px;
            min-width: 250px;
            margin-bottom: 24px;

            @media (min-width: 760px) {            
                max-width: 394px;
            }

            @media (min-width: 1240px) {            
                max-width: 591px;
                margin-bottom: 36px;
            }

            @media (min-width: 1680px) {            
                max-width: 788px;
                margin-bottom: 80px;
            }
        }

        .hero-text {
            max-width: 300px;

            @media (min-width: 1240px) {
                max-width: 500px;
            }
            @media (min-width: 1680px) {
                max-width: 520px;
            }
        }

    }

    /* mood */

    .animals-mood {
        background-color: var(--bg-color);

        @media (min-width: 760px) {
            padding-bottom: 0px;
        }

        .mood-text {
            margin-bottom: 18px;
            margin-top: 26px;

            @media (min-width: 760px) {            
                text-align: center;
                margin-bottom: 26px;
                margin-top: 52px;
            }

            @media (min-width: 1240px) {            
                text-align: cener;
                margin-bottom: 36px;
                margin-top: 78px;
            }

            @media (min-width: 1680px) {            
                margin-bottom: 52px;
                margin-top: 104px;
            }
        }
    }

    /* about */

    .animals-about {
        position: relative;
        
        background-image: url('../img/about-animals-bg-mob.png');
        background-color: var(--bg-color);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        height: 680px;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;

        @media (min-width: 760px) {            
            background-image: url('../img/about-animals-bg-tab.png');
            background-position: 50% 0%;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin-top: 0px;
            height: 75vw;
        }

        @media (min-width: 1240px) {
            background-image: url('../img/about-animals-bg-web.png');
            height: 70vw;
        }

        @media (min-width: 1680px) {
            background-image: url('../img/about-animals-bg-desk.png');
        }

            .animals-about-wrap {
                display: flex;
                flex-direction: column;
                gap: 18px;
    
                @media (min-width: 760px) {
                    position: absolute;
                    left: 5%;
                    bottom: 17%;
                    width: 400px;
                }

                @media (min-width: 860px) {
                    bottom: 20%;
                }

                @media (min-width: 960px) {                    
                    bottom: 25%;                    
                }

                @media (min-width: 1240px) {                    
                    bottom: 12%;
                    left: 10%;
                    width: 450px;
                }

                @media (min-width: 1440px) {                    
                    bottom: 16%;
                }

                @media (min-width: 1680px) {   
                    left: 7%;
                    bottom: 14%;
                    width: 750px;
                    gap: 48px;
                }
            }        
    }

    .auto-about {
        position: relative;
        
        background-image: url('../img/about-auto-bg-mob.png');
        background-color: var(--bg-color);
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;
        background-position: 50% 50%;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;

        @media (min-width: 560px) {
            height: 780px;
        }

        @media (min-width: 760px) {            
            background-image: url('../img/about-auto-bg-tab.png');
            background-position: 50% 0%;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin-top: 0px;
            padding-top: 0px;
            height: 85vw;
        }

        @media (min-width: 1240px) {
            background-image: url('../img/about-auto-bg-web.png');
        }

        @media (min-width: 1680px) {
            background-image: url('../img/about-auto-bg-desk.png');
        }

        .container {
            height: 100%;
            @media (min-width: 760px) {
                height: auto;
            }

            .auto-about-wrap {
                display: flex;
                flex-direction: column;
                gap: 12px;
                height: 100%;
                justify-content: flex-end;

                @media (min-width: 435px) {
                    gap: 18px;
                }

                @media (min-width: 760px) {
                    position: absolute;
                    left: 47%;
                    top: 25%;
                    width: 350px;
                    height:auto;
                }

                @media (min-width: 960px) {                
                    width: 450px;
                    left: 50%;
                    top: 30%;                    
                }

                @media (min-width: 1240px) {                    
                    left: 50%;
                    top: 27%;
                    gap: 36px;
                    width: 620px;

                }

                @media (min-width: 1680px) {   
                    gap: 48px;
                    width: 750px;

                }
            }
        }
    }

    .frame-about {
        background-image: url('../img/about-frame-bg-mob.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;
        background-position: 50% 50%;


        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;

        @media (min-width: 760px) {            
            background-image: url('../img/about-frame-bg-tab.png');
            background-position: 50% 0%;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin-top: 0px;
            height: 65vw;
        }

        @media (min-width: 1240px) {
            background-image: url('../img/about-frame-bg-web.png');
            height: 65vw;
        }

        @media (min-width: 1680px) {
            background-image: url('../img/about-frame-bg-desk.png');
        }

        .container {
            height: 100%;

            @media (min-width: 760px) {
                display: flex;
                align-items: center;
            }

            .frame-about-wrap {
                display: flex;
                flex-direction: column;
                gap: 18px;

                /* @media (min-width: 560px) {
                    padding-top: 150px;
                    width: 350px;
                } */

                @media (min-width: 760px) {
                    padding-top: 180px;
                    width: 450px;
                }

                @media (min-width: 960px) {
                    width: 550px;                    
                }

                @media (min-width: 1240px) {
                    gap: 36px;
                }

                @media (min-width: 1680px) {   
                    width: 750px;
                    gap: 48px;
                    padding-top: 220px;
                }
            }
        }
    }

    /* details */

    .animals-details {
        position: relative;
        z-index: 10;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;
        padding-bottom: 0;
        background-color: var(--bg-color);

        @media (min-width: 760px) {
            margin-top: 0;
            padding-top: 0;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 26px;

            @media (min-width: 960px) {
                flex-direction: row;
                gap: 0;
                justify-content: space-between;

                &.animals-details-justify {
                    justify-content: center;
                    gap: 10px;
    
                    .details-item {
                        width: auto
                    }
                }
            }

            .details-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                                               

                .details-item-wrap {
                    padding: 8px 16px;
                    flex: 1;

                    @media (min-width: 1240px) {
                        flex: 0;
                    }
                    
                    .details-item-count {                    
                        font-weight: 900;
                        font-size: 36px;
                        line-height: 1;
                        text-align: right;
                        color: var(--accent-color);

                        @media (min-width: 1240px) {
                            font-size: 54px;
                        }

                        @media (min-width: 1680px) {
                            font-size: 72px;
                        }
                    }

                    .details-item-name {
                        width: 150px;

                        @media (min-width: 760px) {
                            width: 200px;
                        }

                        @media (min-width: 1680px) {
                            width: 250px;
                        }

                        
                    }
                }

                .details-item-wrap:first-of-type {
                    border-right: solid 0.5px #000326;
                }
            }
        }
    }

    /* animals-theme */

    .animals-theme, .auto-theme {
        background-color: var(--bg-color);

        .animals-theme-list {
            .animals-title1-position {
                position: absolute;
                left: 10%;
                top: 7%;
            }

            .animals-title2-position {
                position: absolute;
                left: 10%;
                bottom: 7%;
            }

            .animals-title3-position {
                position: absolute;
                right: 10%;
                bottom: 7%;
            }

            .animals-title4-position {
                position: absolute;
                right: 10%;
                top: 7%;
            }
        }
    }

    @media (min-width: 760px) {
        .animals-theme {
            padding-bottom: 0;
        }
    }

    .frame-theme {
        background-color: var(--bg-color);

        .frame-theme-list {
            .frame-theme-title {
                position: absolute;
                right: 7%;
                bottom: 7%;
                font-size: 14px;
                font-weight: 900;
                text-align: right;

                @media (min-width: 460px) {            
                    font-size: 22px;
                }

                @media (min-width: 760px) {            
                        font-size: 16px;
                    }

                @media (min-width: 1240px) {            
                        font-size: 24px;
                    }

                @media (min-width: 1680px) {            
                        font-size: 32px;
                    }
            }
        }
    }

    /* products */

    .products-accessory {
        background-color: #E7E7E7;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;

        .products-tv {
                margin-top: 26px;
                padding: 30px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 26px;
                background-color: var(--white-color);

                @media (min-width: 760px) {
                    padding: 38px;
                    gap: 52px;
                }

                @media (min-width: 1240px) {
                    padding: 57px;
                    margin-top: 57px;
                    gap: 57px;
                }

                @media (min-width: 1240px) {
                    padding: 76px;
                    margin-top: 76px;
                    gap: 76px;
                }
                
                .product-tv-title{
                    font-size: 22px;
                    font-weight: 900;

                    @media (min-width: 1240px) {
                        font-size: 39px;
                    }
                }

                .product-btn-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 26px;

                    @media (min-width: 760px) {            
                        flex-direction: row;
                        gap: 52px;
                        justify-content: center;

                        .btn-product {
                            margin: 0;
                            width: 226px;
                        }
                    }

                    @media (min-width: 1240px) {            
                        gap: 78px;

                        .btn-product {
                            width: 340px;
                        }
                    }

                    @media (min-width: 1680px) {            
                        gap: 104px;

                        .btn-product {
                            width: 450px;
                        }
                    }
                }
        }

        .products-list {
            margin-top: 26px;
            display: flex;
            flex-direction: column;
            gap: 26px;

            @media (min-width: 960px) {            
                flex-direction: row;
                gap: 28px;
            }

            @media (min-width: 1240px) {            
                gap: 42px;
                margin-top: 42px;
            }

            @media (min-width: 1680px) {            
                gap: 52px;
                margin-top: 52px;
            }

            .products-list-item {
                padding: 30px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                gap: 26px;
                background-color: var(--white-color);

                @media (min-width: 760px) {
                    padding: 38px;
                    gap: 52px;
                    flex: 1 1 calc(33.33% - 26px);
                }

                @media (min-width: 1240px) {
                    padding: 57px;
                    gap: 57px;
                }

                @media (min-width: 1680px) {
                    padding: 76px;
                    gap: 76px;
                }

                .product-item-title{
                    font-size: 22px;
                    font-weight: 900;
                    line-height: 1.2;

                    @media (min-width: 1440px) {
                        font-size: 39px;
                    }

                    @media (min-width: 1680px) {
                        font-size: 44px;
                    }
                }

                .product-img-wrap {
                    padding: 0 10%;
                    margin-top: auto;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 500px;
                }
                
            }
        }

        .btn-product {
            display: flex;
            justify-content: center;
            align-items: center;            
            padding: 15px 10px;
            width: 100%;
            background-color: white;
            border-radius: 23px;
            font-size: 15px;
            border: 1px solid var(--accent-color);
            text-decoration: none;
            line-height: 1;

            @media (min-width: 375px) {
                margin: 0 auto;
                width: 226px;
            }

            @media (min-width: 960px) {
                margin: 0 auto;
                width: 100%;
            }
        }

        .btn-blue {
            background-color: var(--accent-color); 
            color: var(--white-color);

            transition: background-color var(--trans-dur) var(--trans-timing-function);

            &:hover, &:focus {
                background-color: var(--black-color);
                color: var(--white-color);
            }

        }

        .btn-white {
            background-color: var(--white-color);
            color: var(--accent-color);

            transition: background-color var(--trans-dur) var(--trans-timing-function);

            &:hover, &:focus {
                background-color: var(--black-color);
                color: var(--white-color);
            }
        }
    }

    /* swiper */

    .swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center; 
      }

    .swiper-pagination {
        position: relative;
        margin-top: 36px;

        @media (min-width: 760px) {
            margin-top: 52px;
        }

        @media (min-width: 1240px) {
            margin-top: 78px;
        }

        @media (min-width: 1680px) {
            margin-top: 104px;
        }
      }

    .swiper-pagination-bullet {
        background-color:#DCDCE4;
        width: 8px;          
        height: 8px;
        opacity: 1;
        margin: 0 6px !important;

        &.prev-bullet,
        &.next-bullet {
             background-color:#ABABB8;
        }
      }
      
    .swiper-pagination-bullet-active {
        background-color:#434343;
        width: 8px;
        height: 8px;      
      }
    


}