#animals-for-kidstv {
    --black-color: #000326;
    --white-color: #ffffff;
    --accent-color: #0F59D4;
    --trans-dur: 250ms;
    --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black-color);
    letter-spacing: 0.005em;


    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul,
    ol {
        padding-left: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    section {
        margin: 0 auto;
        padding: 36px 0 56px 0;
    }

    .section-border {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;
    }

    .link {
        text-decoration: none;
    }

    .list {
        list-style: none;
    }

    .container {
        max-width: 100%;
        padding: 0 36px;
    }

    .section-title {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.2;
        text-transform: uppercase;
    }

    .accent-color {
        color: var(--accent-color);
    }

    .section-subtitle {
        font-weight: 700;
    }

    .margin-bottom {
        margin-bottom: 26px;
    }

    /* hero */

    .animals-hero {
        height: 800px;
        background-image: url('../img/hero-bg-mob.png');
        background-repeat: no-repeat;
        background-size: cover;

        .hero-logo-wrap {
            width: 86px;
            margin-bottom: 20px;
        }

        .hero-title {
            font-size: 56px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 32px;
        }

        .hero-main-text {
            font-weight: 300;
            font-size: 27px;
            line-height: 1.2;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        .hero-img-wrap {
            max-width: 300px;
            min-width: 250px;
            margin-bottom: 24px;
        }

        .hero-text {
            max-width: 300px;
        }

    }

    /* mood */

    .animals-mood {
        background-color: var(--white-color);

        .mood-text {
            margin-bottom: 36px;
            margin-top: 26px;
        }
    }

    /* about */

    .animals-about {
        background-image: url('../img/about-bg-mob.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;

        .container {
            display: flex;
            flex-direction: column;
            gap: 26px;

        }
    }

    /* details */

    .animals-details {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: -25px;
        background-color: var(--white-color);

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 26px;

            .details-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                /* width: 191px; */
                               

                .details-item-wrap {
                    padding: 8px 16px;
                    flex: 1;
                    
                    .details-item-count {                    
                        font-weight: 900;
                        font-size: 36px;
                        line-height: 1;
                        text-align: right;
                        color: var(--accent-color);
                    }
                }

                .details-item-wrap:first-of-type {
                    border-right: solid 0.5px #000326;
                }
            }
        }
    }


    /* swiper */

    .swiper-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center; 
      }

    .swiper-pagination {
        position: relative;
        margin-top: 36px;
      }

    .swiper-pagination-bullet {
        background-color:#DCDCE4;
        width: 8px;          
        height: 8px;
        opacity: 1;
        margin: 0 6px !important;

        &.prev-bullet,
        &.next-bullet {
             background-color:#ABABB8;
        }
      }
      
    .swiper-pagination-bullet-active {
        background-color:#434343;
        width: 8px;
        height: 8px;      
      }
    


}